name: Metrics
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: muhamedessamz
          filename: github-metrics.svg
          template: classic
          base: header, activity, community, repositories
          config_timezone: Africa/Cairo

          # More accurate activity
          plugin_activity: yes
          plugin_activity_days: 365
          plugin_activity_filter: all
          plugin_activity_visibility: all

          # Contributions calendar (closest to GitHub)
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
