name: Metrics
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: muhamedessamz
          filename: github-metrics.svg
          template: classic
          base: header, activity
          config_timezone: Africa/Cairo
